<p style="color: green"><%= notice %></p>

<%= render @book %>

<nav class="page-nav">
  <%= link_to Book.human_attribute_name(:edit), edit_book_path(@book) %> |
  <%= link_to Book.human_attribute_name(:back), books_path %>

  <%= button_to Book.human_attribute_name(:destroy), @book, method: :delete %>
</nav>
