<p style="color: green"><%= notice %></p>

<%= render @book %>

<nav class="page-nav">
  <%= link_to I18n.t('user_operation.edit_book'), edit_book_path(@book) %>
  <%= link_to I18n.t('user_operation.back_to_top'), books_path %>
  <%= button_to I18n.t('user_operation.delete_book'), @book, method: :delete %>
</nav>
